@import "tailwindcss";

/* Breakpoints: min-width and min-height */
@custom-variant xs (@media (min-width: 0px));
@custom-variant xxsm (@media (min-width: 320px));
@custom-variant xsm (@media (min-width: 440px));
@custom-variant sm (@media (min-width: 640px));
@custom-variant md (@media (min-width: 768px));
@custom-variant lg (@media (min-width: 1024px));
@custom-variant xl (@media (min-height: 550px) and (min-width: 1280px));
@custom-variant mxl (@media (min-height: 680px) and (min-width: 1380px));
@custom-variant 2xl (@media (min-height: 750px) and (min-width: 1536px));
@custom-variant 3xl (@media (min-height: 850px) and (min-width: 1750px));
@custom-variant 4xl (@media (min-height: 1080px) and (min-width: 2000px));

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--primary-blue);
  --color-primary-orange: var(--primary-orange);
  --color-secondary-orange: var(--secondary-orange);
  --color-accent-blue: var(--accent-blue);
  --color-clean-white: var(--clean-white);
  /* Fonts */
  --font-inter: var(--font-inter);
  --font-instrument: var(--font-instrument);
  /* Text sizes */
  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
  --text-4xs: 0.4rem;
}

:root {
  --background: #0a0a0a;
  --foreground: #fff;
  --primary-blue: #1a3a70;
  --primary-orange: #e87a30;
  --secondary-orange: #f3a057;
  --accent-blue: #2a5c99;
  --clean-white: #f9f8f2;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-blue: #1a3a70;
    --primary-orange: #e87a30;
    --secondary-orange: #f3a057;
    --accent-blue: #2a5c99;
    --clean-white: #f9f8f2;
  } */
}

@layer base {
  section {
    @apply mx-auto max-w-7xl px-4 py-10 sm:px-6 md:py-14 lg:py-14 lg:px-8;
  }
}

body {
  font-family: var(--font-inter);
  /* background-color: radial-gradient(
    100% 50% at 50% 0%,
    #e87a3021 0%,
    #e87a3000 50%,
    #e87a3000 100%
  ); */
}
